.idea/
.bsp/
.idea_modules/
.history/
.cache/
.lib/

output/
checkpoints/
target/
out/
dist/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar